# Temporary files
*~
*swp
*swo

# macOS files
.DS_Store

# LaTeX output files
*.log
*.lot
*.lof
*.blg
*.bbl
*.out
*.toc
*.aux
*.idx
*.ilg
*.ind
*.nlo
*.nls

# Main PDF file
/book/uso.pdf

# Converted svg files
/book/svg-inkscape/

# Programming output files
*.o
*.a
*.so
*.lib
*.dll
*.dyld

# Archive files
*.zip
*.rar
*.tar
*.gz
*.bz2
*.Z
